@import "~/src/scss/index.scss";

.footer-newsletter {
	width: 33.33%;
	padding-left: 60px;

	> h4 {
		color: $text-color-footer;
		margin-bottom: 20px;
	}

	.ui.primary.button {
		background-color: rgb(81 16 134 / 75%) !important;
		width: 200px;

		&:hover {
			opacity: 0.7 !important;
		}
	}

	.success {
		color: $success;
		text-align: center;
		font-size: 12px;
	}
}
